/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

 nav,section,a, span,
button,div{
     border: 1px solid red; 
  } 

  .main-wrapper {
	  max-width: 680px;
	  margin: 0 auto;
  }

  /* Header styles */
 header {
	 margin: 24px;
 }

  nav a {
	  margin:2%;
	  color:grey;
	  text-decoration: none;
  }

  nav img {
	  width: 18%;
	  margin: auto;
  }

  h1 {
	  font-size: 36px;
  }



  section div{
	display: inline-block;
}

  .header-info {
	  padding: 2%;
  }
  
.header-info-container{
	padding: 4%;
	margin-left: 2%;
}

  .header-info img {
	  width: 38%;
	margin-top: 4px;
  }

  .tagline-container {
	  width: 33%;
	  text-align: center;
	  margin: 10%;
  }

 .header-cta {
	background: transparent;
	border: 1px solid black;
	width: 65%;
 }

 /* Content styles */

 .content-1 {
	 padding: 0;
		
 }

 .content-1 div{
	 width: 49%;
	 display: inline-block;
	 padding: 2%;
	 margin: 0 auto;
 }
	 
 .content-info {
	 margin-left: 2%;
 }

.middle-img{
	width: 100%;
	margin: auto;
}

 /* content-2 styles */

  .content-container {
	  width: 100%;
	  margin-left:1%;
  }
 .services-info,
 .product-info,
 .vision-info {
	 width: 32%;
	 display: inline-block;
	 margin-right: 4px;
	 padding: 12px;
 }

 .contact {
	 padding: 12px;
	 line-height: 1.5;
 }

  footer div {
	  width: 33%;
	  margin: auto;
  }
 .copyright {
	padding: 12px;
	font-size: small;
	margin: 2%;
 }

 
  
